.home-navbar {
    height: 66px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-nav-container {
    width: 100%;
    max-width: 1100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-navbar .home-nav-logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.nav-items {
    display: flex;
    gap: 10px;
}

.home-navbar .nav-items-icon {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.home-navbar .nav-icon {
    background-color: #003580;
    color: white;
    padding: 8px 12px;
    margin: 8px 0px 0px 0px;
    font-weight: 500;
    border: none;
    align-items: center;
    justify-content: center;
    line-height: 24px;
}

.home-navbar .nav-icon:hover {
    cursor: pointer;
    background-color: #0c50b0;
    border-radius: 4px;
}

.nav-items-btn {
    display: flex;
    gap: 8px;
}

.home-navbar .nav-button {
    cursor: pointer;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: #006ce4;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 20px;
    margin: 8px 0px 0px 0px;
    padding: 4px 12px;
}

.home-navbar .nav-button:last-child {
    display: none;
    border-radius: 50%;
    background-color: #003580;
    color: white;
    border: 1px solid white;
    padding: 4px 8px;
    font-size: 16px;
    width: 40px;
}

.home-navbar .nav-icon-img {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.nav-user-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 8px 0px 0px 0px;
    padding: 4px 12px;
    font-size: 14px;
}

.home-navbar .nav-user-button:hover {
    cursor: pointer;
    background-color: #0c50b0;
    border-radius: 4px;
}

.nav-user-img {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    object-fit: cover;
    border-radius: 50%;
    font-size: 25px;
}

.nav-user-account {
    font-weight: 600;
}

.nav-menu-logout {
    position: absolute;
    top: -2px;
    right: -88px;
    background-color: white;
    color: black;
    padding: 4px 0px;
    width: 170px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px 0px black;
}

.nav-user-logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.nav-user-logout:hover {
    background-color: #80808042;
    cursor: pointer;
}

.nav-user-logout .user-logout-text {
    font-weight: 300;
    font-size: 14px;
}

.user-logout-icon {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
}

.fixed-navbar .home-navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}