.property-type {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 96px;
    z-index: 1;
}
.ptype-item {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}
.ptype-img {
    border-radius: 10px;
    width: 242px;
    height: 210px;
    object-fit: cover;
}
.ptype-titles {
    font-size: 18px;
}
.ptype-add {
    color: #474747;
    font-weight: 400;
    margin-top: 4px;
    font-size: 13px;
}
.swiper-button-prev,
.swiper-button-next {
    align-items: center;
    background-color:#ffffff;
    border-radius: 100%;
    color: #1a1a1a;
    justify-content: center;
    padding: 4px 12px;
    box-shadow: #1a1a1a 0px 2px 8px 0px;
}
.swiper-button-prev {
    margin: -45px 0px 0px -20px;
}
.swiper-button-next {
    margin: -45px -2px 0px 0px;
}
.swiper-button-prev:after, 
.swiper-button-next:after {
    font-size: 14px;
    line-height: 14px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: none;
}
