.property-type {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    /* z-index: 1; */
}
.ptype-item {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}
.ptype-img {
    border-radius: 10px;
    width: 242px;
    height: 210px;
    object-fit: cover;
}
.ptype-titles {
    font-size: 18px;
}
.ptype-add {
    color: #474747;
    font-weight: 400;
    margin-top: 4px;
    font-size: 13px;
}