.listContainer{
    /* display: grid;
    grid-column: 1fr 1fr; */
    /* max-width: 400px; */
    float: left;
    /* width: 130px 1024px; */
    margin-left: 16px;
    
}

.listWrapper{
    width: 200px;
    /* max-width: 900px; */
    display: flex;
    justify-content: right;
    margin-top: -0.8px;
    font-size: smaller;
    /* left: 213px; */
    margin-left: 213px;
    /* position: sticky; */
}

.listSearch{
    /* left: 213px; */
    flex: 1;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: rgb(255, 255, 255);
    position: sticky;
    /* top: 10px; */
    border-style: solid;
    border-width: 0.5px;
    border-color: #d7d4d4;
    width: 100%;
}
.sitem{
    width: 110%;
}
.lsTitle{
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
.lsT{
    font-size: 18px;
    /* margin-left: 220px; */
    /* margin-bottom: 2px; */
    
}
.listResult{
    flex: 3;
    display: flexbox;
}


#filterRange{
    height: 5px;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none; /* Loại bỏ kiểu mặc định */
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(3, 124, 161), #caf2ef); /* Gradient màu nền */
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Loại bỏ kiểu mặc định */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(89, 217, 234); /* Màu nền của nút trượt */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Đổ bóng */
  }