.trip-planner-container {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}
.trip-planner-item {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}
.trip-planner-img {
    border-radius: 10px;
    height: 136px;
    width: 100%;
    object-fit: cover;
}
.trip-planner-titles {
    font-size: 18px;
}
.trip-planner-desrcibe {
    color: #474747;
    font-weight: 400;
    margin-top: 4px;
    font-size: 14px;
}
.choices {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.choice-item {
    padding: 10px;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 22px;
}
.choice-item:hover {
    background-color: #e8edef;
    cursor: pointer;
}
.choice-item-active {
    color: #0089ff;
    background-color: #e8edef;
    cursor: pointer;
    border: 1px solid #0089ff;
}
.choice-item-text {
    display: inline;
    margin-left: 10px;
}
