@media (min-width:  46.1875em) and (max-width: 63.9375em) {
    .home-container {
        width: 100%;
        max-width: 600px;
    }
}
@media (max-width: 46.1875em) {
    .home-container {
        width: 100%;
        max-width: 350px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: static;
        display: none;
    }
    
}