@media (min-width:  46.1875em) and (max-width: 68.74em) {
    .home-container {
        width: 100%;
        max-width: 700px;
    }
}
@media (max-width: 46.1875em) {
    .home-container {
        width: 100%;
        max-width: 350px;
    }
}