.explore {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 18px;
}
.explore-item {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}
.explore-img {
    border-radius: 10px;
    height: 136px;
    width: 100%;
    object-fit: cover;
}
.explore-titles {
    font-size: 18px;
}
.explore-desrcibe {
    color: #474747;
    font-weight: 400;
    margin-top: 4px;
    font-size: 14px;
}
